body {
  background-color: black;
  color: white;
  font-family: 'Trebuchet MS';
}

input {
  width: 50px;
  background-color: rgba(0, 0, 0, 0.491);
  border: hidden;
  border-radius: 25px;
  text-align: center;
  color: white;
}

button {
  background-color: black;
  animation: colorRotate 6s linear 0s infinite;
  border-style: solid;
  width: 225px;
  border-radius: 10px;
  font-family: 'Trebuchet MS';
  animation: colorRotate 6s linear 0s infinite;
}

.top-text {
  padding-top: 10px;
  animation: colorRotate 6s linear 0s infinite;
}

.container {
  width: 250px;
  height: 280px;
  background-color: rgba(255, 255, 255, 0.108);
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  text-align: center;
  animation: colorRotate 6s linear 0s infinite;
}

.border {
  width: 220px;
  height: 60px;
  border-style: solid;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
}

.final-color {
  height: 30px;
  width: 220px;
  border-style: solid;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  text-align: center;
  background-color: white;
}

@keyframes colorRotate {
  from {
    color: #6666ff;
    border-color: #6666ff;
  }
  10% {
    color: #0099ff;
    border-color: #0099ff;
  }
  50% {
    color: #00ff00;
    border-color: #00ff00;
  }
  75% {
    color: #ff3399;
    border-color: #ff3399;
  }
  100% {
    color: #6666ff;
    border-color: #6666ff;
  }
}